.container {
  padding: 0;
}

@media only screen and (min-width: 601px) {
  .container {
    width: 95%;
  }
}

.input-field .prefix ~ .form__input {
  opacity: 0;
  position: absolute;
  top: 0;
}

.input-field .prefix ~ .form__input:focus {
  opacity: 1;
  width: calc(100% - 3rem - 20px);
}

.input-field .prefix ~ .form__label {
  position: static;
  display: block;
  line-height: 3rem;
  border-bottom: 1px solid #9e9e9e;
}

.input-field .prefix ~ .form__input:focus + .form__label {
  opacity: 0;
}
