html, body, #app-effai, #app-effai > div {
  height: 100%;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

#app-effai > div {
  display: flex;
  flex-direction: column;
}

.page__information {
  padding-bottom: 150px
}

.mui-input-row {
  margin-top: 14px;
}

.mui-text-field__additional-text {
  font-size: 12px;
  position: relative;
  bottom: 5px;
  width: 100%;
}

.mui-text-field__masked-text {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  position: relative;
}

.mui-text-field__mask-text {
  position: absolute;
  top: 24px;
  left: 0;
}

.mui-text-field__input-text {
  input {
    color: transparent !important;
  }
}

.mui-text-field__masked-text--focus {
  .mui-text-field__mask-text {
    display: none;
  }

  .mui-text-field__input-text {
    input {
      color: black !important;
    }
  }
}

.react-swipeable-view-container {
  height: 100%;
}

.is-full-width {
  width: 100%;
}